
@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadFile</h2>  
   
@using(Html.BeginForm("UploadImage","Upload", FormMethod.Post, new { enctype="multipart/form-data"}))  
{  
      
	<div>  
		@Html.TextBox("file", "", new {  type= "file"}) <br />  
   
		<input type="submit" value="Upload" />  
   
		@ViewBag.Message  
   
	</div>  
      
      
}  

