@using GridMvc.Sorting
@using SimpleShop.Areas.Client.Models.Orders
@model IEnumerable<OrdersPageVM>
@{
	ViewBag.Title = "List";
}

<h2>List</h2>


@Html.Grid(Model).Columns(columns =>
{
	columns.Add()
		.Encoded(false)
		.Sanitized(false)
		.SetWidth(30)
		.RenderValueAs(d =>
			@<b>
				@Html.ActionLink("Edit", "Index")
			</b>);

			columns.Add(o => o.Id)
				.Titled("Number")
				.SetWidth(100);

			columns.Add(o => o.Date, "OrderCustomDate")
				.Titled("Date")
				.SortInitialDirection(GridSortDirection.Descending)
				.Format("{0:dd/MM/yyyy}")
				.SetWidth(110);

			columns.Add(o => o.ProductName)
				.Titled("Company Name")
				.ThenSortByDescending(o => o.Id)
				.SetFilterWidgetType("CustomCompanyNameFilterWidget");

		}).WithPaging(15).Sortable().Filterable().WithMultipleFilters()
