
@using SimpleShop.Areas.Admin.Models.Products
@model IEnumerable<ProductListViewModel>

<h2>Produkty</h2>
@Html.Grid(Model).Columns(columns =>
{


			columns.Add(o => o.Name)
				.Titled("Nazwa")
				.SetWidth(100);

				columns.Add(o => o.Price)
				.Titled("Cena")
				.SetWidth(100);
			columns.Add()
				.Encoded(false)
				.Sanitized(false)
				.SetWidth(30)
				.Titled("Akcje")
				.RenderValueAs(model =>
				(
					Html.Button(MVC.Admin.Product.Edit(model.ProductId), "Edytuj", Icons.edit, ButtonSize.small).ToHtmlString() +
					Html.Button(MVC.Admin.Product.Delete(model.ProductId), "Usuń", Icons.delete, ButtonSize.small).ToHtmlString()
				));

		}).WithPaging(15).Sortable().Filterable().WithMultipleFilters()
<p>
	@Html.Button(MVC.Admin.Product.Create(), "Dodaj", Icons.add, ButtonSize.large)
</p>