
@using SimpleShop.Areas.Admin.Models.Categories
@model IEnumerable<CategoryViewModel>

<h3>Lista Produktów</h3>


<p>
	@Html.Button(MVC.Admin.Categories.Create(), "Dodaj", Icons.add, ButtonSize.large)
</p>
@Html.Grid(Model).Columns(columns =>
{
	columns.Add()
		.Encoded(false)
		.Sanitized(false)
		.SetWidth(30)
		.RenderValueAs(d =>
			@<b>
				@Html.ActionLink("Edit", "Index")
			</b>);

	columns.Add(o => o.Name)
		.Titled("Nazwa")
		.SetWidth(100);


}).WithPaging(15).Sortable().Filterable().WithMultipleFilters()
