
@using SimpleShop.Areas.Admin.Models.Categories
@model IEnumerable<CategoryViewModel>

<h3>Lista Produktów</h3>
@(Html
	.Grid(Model)
	.Build(columns =>
	{
		columns.Add(model => model.Name).Titled("Nazwa").Sortable(true);
		columns.Add()
			.Titled("Akcje")
			.RenderedAs(model => Html.Button(MVC.Admin.Categories.Delete(model.CategoryId),"Delete",Icons.delete,ButtonSize.small));
	})

	.Empty("No data found")
	  .Pageable(pager =>
	  {
		  pager.RowsPerPage = 20;
	  })
)

<p>
	@Html.Button(MVC.Admin.Categories.Create(), "Dodaj", Icons.add, ButtonSize.large)
</p>