@model IEnumerable<SimpleShop.Models.ViewsModels.ProductVM>
@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="jumbotron">
		<h1>Sklep</h1>
		<p>Zobacz najnowsze produkty w naszym sklepie!</p>
		<p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Product")">Produkty</a></p>
	</div>
</div>