@model SimpleShop.Models.ViewsModels.ProductVM

@{
	ViewBag.Title = "Buy";
}

<h2>Zakup</h2>
<img class="img-details" src="@Url.Content("~/UploadedFiles/" + Model.Img)" alt="" />
<br/>
<div class="alert alert-success">
	<p>Zakupiono <b>@Model.Name</b> </p>
	<p>Proszę wpłacić :<b>@Model.Price zł</b>  na konto :xx xxxxxxxxxxxxxxxxxxx.</p><p>Po zaksięgowaniu środków status płatności zostanie zmieniony i przesyłka zostania wysłana na adres.</p>
</div>
<a class="btn btn-primary" href="@Url.Action("Index", "Orders")"><i class="glyphicon glyphicon-arrow-right"></i> Przejdź do zamówień </a>


